<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>📊 JSOG Déplacements</h1>

    <div class="card">
        <form method="POST" action="/add">
            <input name="date" placeholder="Date (01/05/2026)">
            <input name="motif" placeholder="Motif">
            <input name="km" placeholder="Kilomètres">
            <button>Ajouter déplacement</button>
        </form>
    </div>

    <div class="card">
        <h2>Liste des déplacements</h2>

        <table>
            <tr>
                <th>Date</th>
                <th>Motif</th>
                <th>KM</th>
            </tr>

            {% for d in deplacements %}
            <tr>
                <td>{{ d.date }}</td>
                <td>{{ d.motif }}</td>
                <td>{{ d.km }}</td>
            </tr>
            {% endfor %}
        </table>

        <br>
        <a href="/pdf">📄 Télécharger PDF</a>
        <br><br>
        <a href="/logout">🚪 Déconnexion</a>
    </div>

</div>

</body>
</html>