<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="container">

<h1>JSOG Déplacements</h1>

<div class="card">
<form method="POST">
    <input type="date" name="date">
    <input name="motif" placeholder="Motif">
    <input name="km" placeholder="KM">
    <button>Ajouter</button>
</form>
</div>

<div class="card">

<h2>Mes déplacements</h2>

{% for d in deplacements %}
<p>{{ d.date }} - {{ d.motif }} - {{ d.km }} km</p>
{% endfor %}

<br>

<form action="/pdf">
    <input type="month" name="mois">
    <button>📄 PDF mensuel</button>
</form>

</div>

<a href="/logout">Déconnexion</a>

</div>