<body style="background:black;color:yellow;text-align:center">

<h1>Bienvenue {{ current_user.username }}</h1>

<form method="post">
<input type="date" name="date"><br><br>
<input name="lieu" placeholder="Lieu"><br><br>
<input name="km" placeholder="Km"><br><br>
<button>Ajouter</button>
</form>

<hr>

{% for mois, liste in frais_par_mois.items() %}
<h2>{{ mois }}</h2>

{% for f in liste %}
<p>{{ f.date }} - {{ f.lieu }} - {{ f.km }} km - {{ f.montant }} €</p>
{% endfor %}

<a href="/pdf/{{ mois }}">📄 Télécharger PDF</a><br>
<a href="https://wa.me/?text=Voici mon PDF de frais" target="_blank">📤 WhatsApp</a>

<hr>
{% endfor %}

<a href="/logout">Déconnexion</a>

</body>